* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1c1c1c;
}

.container {
  display: flex;
  justify-content: center;
  padding: 150px;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding: 35px;
  max-width: 30vw;
  gap: 20px;
  border-radius: 20px;
}

.under-title {
  color: white;
  padding-bottom: 20px;
}

.password-box {
  display: flex;
  gap: 10px;
}

.password-left,
.password-right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #273549;
  color: #4adf86;
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
}

button {
  border: none;
  max-width: 150px;
  height: 30px;
  border-radius: 6px;
  background-color: #10b981;
}

h1 {
  color: white;
  font-weight: bolder;
  width: 250px;
}

hr.solid {
  border: 1px solid #2f3e53;
}
